<nav class="navbar navbar-default navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <%= render 'layouts/navigation/header' %>
      </div><!-- col-sm-7 -->

      <div class="col-sm-5 d-flex">
        <%= render 'layouts/navigation/collapsible_elements' %>
      </div><!-- col-sm-5 -->
    </div><!-- row -->
  </div><!-- container -->
</nav>
